<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>JCWM17</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>AveriaSansLibre-Bold.ttf</string>
		<string>AveriaSansLibre-BoldItalic.ttf</string>
		<string>AveriaSansLibre-Italic.ttf</string>
		<string>AveriaSansLibre-Light.ttf</string>
		<string>AveriaSansLibre-LightItalic.ttf</string>
		<string>AveriaSansLibre-Regular.ttf</string>
		<string>Tourney_Condensed-Black.ttf</string>
		<string>Tourney_Condensed-BlackItalic.ttf</string>
		<string>Tourney_Condensed-Bold.ttf</string>
		<string>Tourney_Condensed-BoldItalic.ttf</string>
		<string>Tourney_Condensed-ExtraBold.ttf</string>
		<string>Tourney_Condensed-ExtraBoldItalic.ttf</string>
		<string>Tourney_Condensed-ExtraLight.ttf</string>
		<string>Tourney_Condensed-ExtraLightItalic.ttf</string>
		<string>Tourney_Condensed-Italic.ttf</string>
		<string>Tourney_Condensed-Light.ttf</string>
		<string>Tourney_Condensed-LightItalic.ttf</string>
		<string>Tourney_Condensed-Medium.ttf</string>
		<string>Tourney_Condensed-MediumItalic.ttf</string>
		<string>Tourney_Condensed-Regular.ttf</string>
		<string>Tourney_Condensed-SemiBold.ttf</string>
		<string>Tourney_Condensed-SemiBoldItalic.ttf</string>
		<string>Tourney_Condensed-Thin.ttf</string>
		<string>Tourney_Condensed-ThinItalic.ttf</string>
		<string>Tourney_Expanded-Black.ttf</string>
		<string>Tourney_Expanded-BlackItalic.ttf</string>
		<string>Tourney_Expanded-Bold.ttf</string>
		<string>Tourney_Expanded-BoldItalic.ttf</string>
		<string>Tourney_Expanded-ExtraBold.ttf</string>
		<string>Tourney_Expanded-ExtraBoldItalic.ttf</string>
		<string>Tourney_Expanded-ExtraLight.ttf</string>
		<string>Tourney_Expanded-ExtraLightItalic.ttf</string>
		<string>Tourney_Expanded-Italic.ttf</string>
		<string>Tourney_Expanded-Light.ttf</string>
		<string>Tourney_Expanded-LightItalic.ttf</string>
		<string>Tourney_Expanded-Medium.ttf</string>
		<string>Tourney_Expanded-MediumItalic.ttf</string>
		<string>Tourney_Expanded-Regular.ttf</string>
		<string>Tourney_Expanded-SemiBold.ttf</string>
		<string>Tourney_Expanded-SemiBoldItalic.ttf</string>
		<string>Tourney_Expanded-Thin.ttf</string>
		<string>Tourney_Expanded-ThinItalic.ttf</string>
		<string>Tourney_SemiCondensed-Black.ttf</string>
		<string>Tourney_SemiCondensed-BlackItalic.ttf</string>
		<string>Tourney_SemiCondensed-Bold.ttf</string>
		<string>Tourney_SemiCondensed-BoldItalic.ttf</string>
		<string>Tourney_SemiCondensed-ExtraBold.ttf</string>
		<string>Tourney_SemiCondensed-ExtraBoldItalic.ttf</string>
		<string>Tourney_SemiCondensed-ExtraLight.ttf</string>
		<string>Tourney_SemiCondensed-ExtraLightItalic.ttf</string>
		<string>Tourney_SemiCondensed-Italic.ttf</string>
		<string>Tourney_SemiCondensed-Light.ttf</string>
		<string>Tourney_SemiCondensed-LightItalic.ttf</string>
		<string>Tourney_SemiCondensed-Medium.ttf</string>
		<string>Tourney_SemiCondensed-MediumItalic.ttf</string>
		<string>Tourney_SemiCondensed-Regular.ttf</string>
		<string>Tourney_SemiCondensed-SemiBold.ttf</string>
		<string>Tourney_SemiCondensed-SemiBoldItalic.ttf</string>
		<string>Tourney_SemiCondensed-Thin.ttf</string>
		<string>Tourney_SemiCondensed-ThinItalic.ttf</string>
		<string>Tourney_SemiExpanded-Black.ttf</string>
		<string>Tourney_SemiExpanded-BlackItalic.ttf</string>
		<string>Tourney_SemiExpanded-Bold.ttf</string>
		<string>Tourney_SemiExpanded-BoldItalic.ttf</string>
		<string>Tourney_SemiExpanded-ExtraBold.ttf</string>
		<string>Tourney_SemiExpanded-ExtraBoldItalic.ttf</string>
		<string>Tourney_SemiExpanded-ExtraLight.ttf</string>
		<string>Tourney_SemiExpanded-ExtraLightItalic.ttf</string>
		<string>Tourney_SemiExpanded-Italic.ttf</string>
		<string>Tourney_SemiExpanded-Light.ttf</string>
		<string>Tourney_SemiExpanded-LightItalic.ttf</string>
		<string>Tourney_SemiExpanded-Medium.ttf</string>
		<string>Tourney_SemiExpanded-MediumItalic.ttf</string>
		<string>Tourney_SemiExpanded-Regular.ttf</string>
		<string>Tourney_SemiExpanded-SemiBold.ttf</string>
		<string>Tourney_SemiExpanded-SemiBoldItalic.ttf</string>
		<string>Tourney_SemiExpanded-Thin.ttf</string>
		<string>Tourney_SemiExpanded-ThinItalic.ttf</string>
		<string>Tourney-Black.ttf</string>
		<string>Tourney-BlackItalic.ttf</string>
		<string>Tourney-Bold.ttf</string>
		<string>Tourney-BoldItalic.ttf</string>
		<string>Tourney-ExtraBold.ttf</string>
		<string>Tourney-ExtraBoldItalic.ttf</string>
		<string>Tourney-ExtraLight.ttf</string>
		<string>Tourney-ExtraLightItalic.ttf</string>
		<string>Tourney-Italic.ttf</string>
		<string>Tourney-Light.ttf</string>
		<string>Tourney-LightItalic.ttf</string>
		<string>Tourney-Medium.ttf</string>
		<string>Tourney-MediumItalic.ttf</string>
		<string>Tourney-Regular.ttf</string>
		<string>Tourney-SemiBold.ttf</string>
		<string>Tourney-SemiBoldItalic.ttf</string>
		<string>Tourney-Thin.ttf</string>
		<string>Tourney-ThinItalic.ttf</string>
		<string>Tourney-Italic-VariableFont_wdth,wght.ttf</string>
		<string>Tourney-VariableFont_wdth,wght.ttf</string>
	</array>
</dict>
</plist>
